*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.App{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.nav {
  background-color: #ffffff;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it appears above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visual separation */
}

.menu {
  display: none;
  color: #000000;
}
.menu-icon{
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #000000;
  font: inherit;
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 6px;
  border-radius: 50%;
  background-color: #EF7D39;
  z-index: -1;
  opacity: 0;
  transform: translateY(-50%) scale(0);
  transition: all 0.3s ease;
}

.nav-item:hover::before,
.nav-item:focus-within::before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ffffff;
  border: #000000 1px solid;
  border-radius: 30px;
  box-shadow: 3px 3px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}


.dropdown-item {
  padding: 20px 20px 0px 20px;
}
.dropdown-item button,a {
  background: none;
  border: none;
  color: #000000;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.dropdown-item:last-child  {
  padding-bottom: 20px;
}

.dropdown-item:hover button, .dropdown-item:hover a{
  color: #EF7D39;
}

.dropdown-item:hover svg{
  fill: #EF7D39;
}

.nav-item:hover .dropdown {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}

.link-icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-left: 5px;
}

.content{
  height: 150vh;
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .MenuOpen{
    overflow: hidden;
  }
  .MenuOpen .nav{
    box-shadow: none;
  }
  .menu {
    display: flex;
    align-self: center;
    justify-content: end;
    padding: 20px 0;
  }

  .nav-menu {
    position: fixed;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    width: 100vw;
    left: 0;
    top: 80px;
    padding: 30px;
    transition: all 0.3s ease;
  }
  .nav-link{
    font-size: 1.7rem;
  }

  .MenuOpen .nav-menu{
    opacity: 1;
    visibility: visible;
  }

  .nav-item {
    width: 100%;
  }

  .dropdown {
    display: none;
    position: static;
    min-width: 100%;
    border: none;
    box-shadow: none;
  }

  .dropdown-item{
    padding: 10px 20px 10px 40px;
  }

  .dropdown-item button, a {
    font-size: 1.2rem;
  }
  .menu-icon{
    display: flex;
    width: 40px;
    height: 40px;
    border: #000000 1px solid;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px;
  }
}
